/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222; /* Fundo escuro */
    color: #ccc; /* Cor do texto */
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #0e5603; /* Cinza escuro */
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Adicionando sombreamento */
    text-align: center; /* Centralizar os botões */
}

/* Estilos para os botões na barra de navegação */
.navbar a {
    transition: 0.7s;
    background: linear-gradient(to right, #4CAF50, #45a049); /* Gradiente de cores */
    background-size: 200% auto; /* Tamanho do gradiente */
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-decoration: none; /* Remove sublinhado do texto */
    margin: 0 10px; /* Espaçamento entre os botões */
    display: inline-block; /* Para aplicar margens e espaçamentos */
}

/* Estilos para os botões na barra de navegação ao passar o mouse */
.navbar a:hover {
    background: linear-gradient(to right, #45a049, #4ae1a9); /* Altera o gradiente ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

/* Estilizando o logotipo */
#lhlogo {
    height: 50px;
    width: auto;
}

/* Estilos para a seção "EM ALTA" e outras seções */
.main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #444; /* Verde escuro */
    border-radius: 8px;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.3);
    color: #fff; /* Cor do texto */
}

h2 {
    text-align: center;
    color: #fff; /* Cor do título */
}

/* Estilos para os vídeos */
#video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#video {
    text-decoration: none;
    color: black;
    margin: 10px;
    display: block;
    position: relative;
}

#thumbnail {
    width: 280px;
    height: 190px;
    border-radius: 8px;
}

#thumbnail:hover {
    filter: blur(2px);
    transition: 5ms;
    height: 200px;
    width: 290px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#overlay {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#video:hover #overlay {
    opacity: 1;
}

/* Estilos para a seção de propaganda */
.container {
    background-color: #666; /* Cinza escuro */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
}

#gif {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#overlay2 {
    margin-top: 10px;
}

/* Estilos para a imagem de Dwayne "The Rock" Johnson */
#dwaynej {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.therock {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para o texto de descrição */
.therock span {
    font-weight: bold;
}

/* Estilizando o texto do rodapé */
footer {
    text-align: center;
    background-color: #333; /* Cinza escuro */
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: auto;
}

/* Estilos específicos para a tabela */
table {
    width: 93%; /* Defina a largura desejada para a tabela */
    margin: 20px auto; /* Centraliza a tabela na página */
    border-collapse: collapse;
    border-radius: 10px; /* Arredondamento das bordas da tabela */
    overflow: hidden; /* Para esconder as bordas arredondadas fora da tabela */
    box-shadow: 0px 4px 8px rgba(54, 255, 57, 0.464); /* Sombra suave */
    background: linear-gradient(to top, #33b31f, #83dd7d);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background: linear-gradient(to top, #137704, #469E3F); /* Gradiente de cores para o cabeçalho */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background: linear-gradient(to right, #137704, #25e39d); /* Cor de fundo para linhas pares */
}

tr:hover {
    background: linear-gradient(to right, #3d9230, #25e39d);
    color: black;
    transition: 0.7s;
}

/* Estilos para botões */
#acao {
    text-decoration: none;
    color: blue;
}

#acao:hover {
    text-decoration: underline;
    color: darkblue;
}

#botao:hover {
    background-color: rgb(57, 237, 117);
    display: flex;
    border-radius: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="submit"] {
    margin: 10px 0;
    padding: 10px; 
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    cursor: pointer; 
}

/* Importar a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#botao2 {
    transition: 0.7s;
    background: linear-gradient(to right, #4CAF50, #45a049); /* Gradiente de cores */
    background-size: 200% auto; /* Tamanho do gradiente */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-decoration: none; /* Remove sublinhado do texto */
    margin-left: 51px;
}

#botao2:hover {
    transition: 0.7s;
    background: linear-gradient(to right, #45a049, #4ae1a9); /* Altera o gradiente ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

#botao3 {
    transition: 0.7s;
    background: linear-gradient(to right, #e1ff00, #45a049); /* Gradiente de cores */
    background-size: 150% auto; /* Tamanho do gradiente */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 8px 18px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-decoration: none; /* Remove sublinhado do texto */
}

#botao3:hover {
    transition: 0.7s;
    background: linear-gradient(to right, #45a049, #4ae1a9); /* Altera o gradiente ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

#botao4 {
    transition: 0.7s;
    background: linear-gradient(to right, #ff0000, #fc8200); /* Gradiente de cores */
    background-size: 150% auto; /* Tamanho do gradiente */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 8px 18px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-decoration: none; /* Remove sublinhado do texto */
}

#botao4:hover {
    transition: 0.7s;
    background: linear-gradient(to right, #ff008c, #740030); /* Altera o gradiente ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

#caixa_formulario {
    width: 400px; /* Largura da caixa */
    margin: 20px auto; /* Centralizar a caixa na página */
    padding: 20px; /* Espaçamento interno da caixa */
    border: 1px solid #ccc; /* Borda com cor cinza */
    border-radius: 5px; /* Cantos arredondados */
    box-sizing: border-box; /* Considerar padding e borda na largura total */
}

/* Estilos para a seção "História de vida" */
.main p {
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Espaçamento entre linhas */
    margin-bottom: 20px; /* Espaçamento inferior */
}
